<ion-view title="Contact" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="contact-list2">
      <div class="item item-body" id="contact-list-item-container1">
        <div id="contact-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">For any assistance or in case of an emergency, please contact members from our local</p>

          <p style="color:#000000;">implementation team, Samhita Social Ventures:</p>

          <p style="color:#000000;">
            <strong>Shruti Neelakantan</strong> - +91-70457-67105</p>

          <p style="color:#000000;">
            <strong>Vinay Menon</strong> - + 91-87459-17449</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 16px;"></div>
    <ion-list id="contact-list3">
      <div class="item item-body" id="contact-list-item-container3">
        <div id="contact-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">If for any reason you are unable to reach the above numbers, please contact the following from the U.S. Consulate</p>

          <p style="color:#000000;">General Chennai:</p>

          <p style="color:#000000;">
            <strong>Brindha Balachandran</strong> - +91-73580-80433</p>

          <p style="color:#000000;">
            <strong>Ratna Mukherjee</strong> - +91-98412-72073</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <ion-list id="contact-list4">
      <div class="item item-body" id="contact-list-item-container4">
        <div id="contact-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Nearest Hospitals from the venue:</p>

          <p style="color:#000000;">
            <strong>Apollo Hospital</strong> - No: 21, Greams Lane, Off Greams Road, Chennai, Tamil Nadu 600006</p>

          <p style="color:#000000;">Phone: 044 2829 3333</p>

          <p style="color:#000000;">
            <strong>Cloudnine Hospital</strong> - 54, opp Hyatt Regency, Vijaya Raghava Rd, T Nagar, Chennai, Tamil Nadu 600017 Phone: 1860 500 9999</p>

          <p style="color:#000000;">
            <strong>Bharathiraja Hospital</strong> - 20, Gopathi Narayanaswami Chetty Road, T Nagar, Chennai, Tamil Nadu 600017. Phone:044 3011 3011</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>