<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/l7LqQn0bTOScjXXAEZ9U_techcamp.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="home-heading1" style="color:#2B3049;text-align:center;">Chennai</h1>
    <h3 id="home-heading2" style="color:#3A6FB6;text-align:center;">Tech Tools for Startups</h3>
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <div id="home-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">In partnership with U.S. Consul General Chennai and Global India Fund, TechCamp Chennai: Tech Tools for Startups will provide young, first generation entrepreneurs from disadvantaged backgrounds from India, Sri Lanka, Nepal, Bhutan, and the Maldives
        with necessary skills and tools to improve their digital literacy, communication capacity and to realize the full potential of social media and online resources to launch and scale their businesses.</p>
    </div>
    <a ui-sref="menu.agenda()" id="home-button1" style="color:#FFFFFF;" class="button button-dark button-large button-block">View Agenda</a>
  </ion-content>
</ion-view>