<ion-view title="Shrinath V" id="page10">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="shrinathV-card212">
      <div class=" item item-image">
        <img src="img/L7Rwrx3eRRW8l2LZcnvA_Screen-Shot-2017-07-10-at-1.21.07-PM-276x273.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="shrinathV-list-item-container19">
        <div id="shrinathV-markdown29" class="show-list-numbers-and-dots">
          <h2>Shrinath V</h2>

          <p style="margin-top:0px;color:#000000;">
            <strong>Consultant</strong>
          </p>

          <p style="color:#000000;">Google Developer Expert (Product)</p>
        </div>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <ion-list id="shrinathV-list6">
      <div class="item item-body" id="shrinathV-list-item-container20">
        <div id="shrinathV-markdown30" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Recognized as Google Developer Expert (Product Strategy), Shrinath is a consultant and is a startup mentor at multiple accelerators. He has worked across B2B and B2C sectors. Currently, his work includes helping B2B sales at a renewable energy
            analytics firm &amp; conducting design thinking interventions as a partner at Questellar, a design thinking &amp; innovation firm.</p>

          <p style="color:#000000;">Previously, Shrinath was head of product management for Maps on a range of Nokia phones.</p>
        </div>
      </div>
    </ion-list>
    <div id="shrinathV-button-bar2" class="button-bar">
      <a href-inappbrowser="https://www.linkedin.com/in/shrinathv/" id="shrinathV-button9" class="button button-positive button-block icon ion-social-linkedin"></a>
      <a href-inappbrowser="https://www.facebook.com/shrinath.v" id="shrinathV-button10" class="button button-calm button-block icon ion-social-facebook"></a>
    </div>
  </ion-content>
</ion-view>