<ion-view title="Sorav Jain" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="soravJain-card22">
      <div class=" item item-image">
        <img src="img/Rl7y4iZgTCqjcro74Hzv_Sorav-Picture-276x273.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="soravJain-list-item-container7">
        <div id="soravJain-markdown15" class="show-list-numbers-and-dots">
          <h2>Sorav Jain</h2>

          <p style="margin-top:0px;color:#000000;">
            <strong>Thinker in chief</strong>
          </p>

          <p style="color:#000000;">EchoVME Digital Marketing Services</p>
        </div>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <ion-list id="soravJain-list5">
      <div class="item item-body" id="soravJain-list-item-container18">
        <div id="soravJain-markdown28" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Sorav Jain is an entrepreneur, digital and social media marketing consultant, trainer, author and speaker. Sorav started his career at the age of 17 and carries about 10+ years of Industry experience.</p>

          <p style="color:#000000;">Sorav spearheads echoVME, a self-funded organization, which aims at delivering cutting edge Digital and Social Media Marketing skills and expertise, reached its zenith when it was recognized as ‘The Best Digital and Social Media Agency of 2016
            by the South Asian Partnership Summit.</p>

          <p style="color:#000000;">
            <strong>Brands he worked with:</strong>
            Bosch India, Adityaram, Origin Learning, Oliva Clinic, Wink, Apollo White Dental, Ramco Systems, Urban Tree, Infenithesim, Veg Planet are in echoVME’s list.</p>

          <p style="color:#000000;">
            <strong>Training &amp; Workshop:</strong>
            Murugappa Group, Shriram Group, Times Group, Genpact, MSL Media, Vikatan Group, Bosch India, Ramco Systems, Communicate India, TE connectivity.</p>

          <p style="color:#000000;">
            <strong>Books:</strong>
            Social Media for Business – Story of Indian Brands</p>
        </div>
      </div>
    </ion-list>
    <div id="soravJain-button-bar1" class="button-bar">
      <a href-inappbrowser="https://www.linkedin.com/in/soravjain/" id="soravJain-button6" class="button button-positive button-block icon ion-social-linkedin"></a>
      <a href-inappbrowser="https://www.facebook.com/SoravJainDigital/" id="soravJain-button7" class="button button-calm button-block icon ion-social-facebook"></a>
      <a href-inappbrowser="https://twitter.com/soravjain" id="soravJain-button8" class="button button-positive button-block icon ion-social-twitter"></a>
    </div>
  </ion-content>
</ion-view>