<ion-view title="Trainers" id="page4">
  <ion-content padding="true" class="has-header">
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="menu.soravJain()" id="trainers-card21">
      <div class=" item item-image">
        <img src="img/Rl7y4iZgTCqjcro74Hzv_Sorav-Picture-276x273.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="trainers-list-item-container6">
        <div id="trainers-markdown14" class="show-list-numbers-and-dots">
          <h2>Sorav Jain</h2>

          <p style="margin-top:0px;color:#000000;">
            <strong>Thinker in chief</strong>
          </p>

          <p style="color:#000000;">EchoVME Digital Marketing Services</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="menu.shrinathV()" id="trainers-card23">
      <div class=" item item-image">
        <img src="img/Y5spJ5ANRWOxcpSReQUA_Screen-Shot-2017-07-10-at-1.21.07-PM-276x273.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="trainers-list-item-container8">
        <div id="trainers-markdown16" class="show-list-numbers-and-dots">
          <h2>Shrinath V</h2>

          <p style="margin-top:0px;color:#000000;">
            <strong>Consultant</strong>
          </p>

          <p style="color:#000000;">Google Developer Expert (Product)</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="menu.soravJain()" id="trainers-card24">
      <div class=" item item-image">
        <img src="img/WrAQAGsWRYC48Rbyhk0x_V-M-Chariar-Profile-Picture-276x273.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="trainers-list-item-container9">
        <div id="trainers-markdown17" class="show-list-numbers-and-dots">
          <h2>Vijayraghavan Chariar</h2>

          <p style="margin-top:0px;color:#000000;">
            <strong>Chairman</strong>
          </p>

          <p style="color:#000000;">Ekam Eco Solutions</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="menu.soravJain()" id="trainers-card25">
      <div class=" item item-image">
        <img src="img/VXg8AhPPRYSzcmPNtqMY_13221210_1302740739755414_635438496930726332_o-1-276x273.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="trainers-list-item-container10">
        <div id="trainers-markdown18" class="show-list-numbers-and-dots">
          <h2>Dr. Suchi Gaur</h2>

          <p style="margin-top:0px;color:#000000;">
            <strong>Communication Specialist - South East Asia</strong>
          </p>

          <p style="color:#000000;">Project HOPE</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="menu.soravJain()" id="trainers-card26">
      <div class=" item item-image">
        <img src="img/oGHn1oNQZews2uFdiKm0_nPagare-276x273.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="trainers-list-item-container11">
        <div id="trainers-markdown19" class="show-list-numbers-and-dots">
          <h2>Nishant Pagare</h2>

          <p style="margin-top:0px;color:#000000;">
            <strong>Communication Professional</strong>
          </p>

          <p style="color:#000000;">Syncline Films Pvt Ltd</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="menu.soravJain()" id="trainers-card27">
      <div class=" item item-image">
        <img src="img/jZPLfvETLqEVzICIyQvg_fullsizeoutput_395f-276x273.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="trainers-list-item-container12">
        <div id="trainers-markdown20" class="show-list-numbers-and-dots">
          <h2>Srishti Bakshi</h2>

          <p style="margin-top:0px;color:#000000;">
            <strong>Founder &amp; CEO</strong>
          </p>

          <p style="color:#000000;">Crossbow</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="menu.soravJain()" id="trainers-card28">
      <div class=" item item-image">
        <img src="img/Gyo2ieshQ0K9NdwlMOdz_Vivek-Kumar_Headshot-276x273.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="trainers-list-item-container13">
        <div id="trainers-markdown21" class="show-list-numbers-and-dots">
          <h2>Vivek Kumar</h2>

          <p style="margin-top:0px;color:#000000;">
            <strong>Founder &amp; CEO</strong>
          </p>

          <p style="color:#000000;">Qlicket</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="menu.soravJain()" id="trainers-card29">
      <div class=" item item-image">
        <img src="img/hTKKmqCWTVoODDhnFMXO_Harish-276x273.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="trainers-list-item-container14">
        <div id="trainers-markdown22" class="show-list-numbers-and-dots">
          <h2>Harish Kotra</h2>

          <p style="margin-top:0px;color:#000000;">
            <strong>Tech Lead</strong>
          </p>

          <p style="color:#000000;">Deep Red Ink</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="menu.soravJain()" id="trainers-card210">
      <div class=" item item-image">
        <img src="img/xFlDchibQDu4BSDOrJKw_MG_8367-276x273.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="trainers-list-item-container15">
        <div id="trainers-markdown23" class="show-list-numbers-and-dots">
          <h2>Vishwarath Reddy</h2>

          <p style="margin-top:0px;color:#000000;">
            <strong>Founder</strong>
          </p>

          <p style="color:#000000;">Labyrinth</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="menu.soravJain()" id="trainers-card211">
      <div class=" item item-image">
        <img src="img/0Ne5PSXwRmGpuYswt01l_Lanae-Spruce-Headshot-e1498760622566-276x273.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="trainers-list-item-container16">
        <div id="trainers-markdown24" class="show-list-numbers-and-dots">
          <h2>Lanae Spruce</h2>

          <p style="margin-top:0px;color:#000000;">
            <strong>Social Media and Digital Engagement Manager</strong>
          </p>

          <p style="color:#000000;">Smithsonian</p>
        </div>
      </div>
    </a>
  </ion-content>
</ion-view>