<ion-view title="Venue" id="page7">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="venue-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="venue-slide24" style="background:url(&quot;img/QoBRYLD3SjWQ86jNtQx9_Overview.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="venue-slide27" style="background:url(&quot;img/MPcJzUIkSSqFNQBds5mA_grand-by-grt-hotels-chennai-bazaar-with-chefs-cropped-75927608367g.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="venue-slide25" style="background:url(&quot;img/WAMEH1zZTN21sSUWaB2H_grand-chennai-by-grt-hotels-chennai-lobby-107627041850-jpeg-g.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="venue-slide26" style="background:url(&quot;img/QxvUviEAS1SrFls3l9ah_Overview.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <h4 id="venue-heading3" style="color:#000000;">Grand Chennai by GRT Hotels</h4>
    <div id="venue-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Address</strong>
      </p>

      <p style="color:#000000;">120, Sir Thyagaraya Rd, Drivers Colony, T Nagar, Chennai, Tamil Nadu 600017</p>
    </div>
    <a href-inappbrowser="https://goo.gl/maps/u5omQAJpuVr" id="venue-button2" class="button button-balanced button-large button-block icon-left ion-android-map">Open in Google Maps</a>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15547.36845259389!2d80.2312015164765!3d13.04572001867913!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd991a35749a58c15!2sGrand+Chennai+by+GRT+Hotels!5e0!3m2!1sen!2sin!4v1500483386848"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
  </ion-content>
</ion-view>